
@font-face {
    font-family: 'hand'; /*a name to be used later*/
    src: url('hand_of_sean/handsean.ttf'); /*URL to font*/
}

body{
    font-family: 'hand';
    background-image: url('board.jpg');
    background-attachment: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#pin{
    width: 100px;
    margin: -30px auto 0 auto;
}
#list{
    text-align:center;
    margin: 100px;
    background-color: white;
    padding: 10px;
    height:auto;
    min-height:1000px;
    min-width:1000px;
}


#header{
    font-size: 40px;
}

#top{
    color: red;
    size: 3px;
}

textarea:focus, input:focus{
    outline: 0;
}
.checked div img{
    width:40px;
    margin-top: -10px;
    margin-left: -10px;
}
input {
    font-family: 'hand';
    background-color:transparent;
    border: 0px solid;
    height:50px;
    font-size:30px;
    line-height:40px;
    margin-top: -10px;
}
ul{
    font-family: 'hand';
    text-align:left;
    list-style: none;
    height:40px;
    padding-right:50px;
    margin-top:-5px;
    height: auto;
}
li{
    height: 40px;
    padding: 5px;
    height:40px;
    font-size:30px;
    line-height:40px;
    width: auto;
    margin:10px 0;
}
li div{
    display:inline-block;
}
.checkbox:hover{
    cursor: pointer;
}

.checkbox{
    margin-right:10px;
    height:20px;
    width:20px;
    border: 3px solid black;
    border-radius: 3px;
}
#remove:hover{
    cursor: pointer;
}
#remove{
    float:left;
    color: red;
    top:120px; left: 130px;
}
#rules{
    float:right;
    top:120px; right: 130px;
}

.set{
    margin-left: 10px;
}
li .line{
    display:block;
    height: 2px;
    background-color: black;
    color: black;
}
hr{
    height: 3px;
    background-color: red;
    color: red;
}
